@using DoAn2023.Models.DAL
@model DoAn2023.Models.ViewModels.TinTuyenDung.TinTuyenDungSearch

@{
    TinTuyenDungDAL dao = new TinTuyenDungDAL();
    var listCapBac = dao.ListCapBac();
    var listDiaChi = dao.ListDiaChi();
}

@using (Html.BeginForm("Search", "Home", FormMethod.Get, new { @id = "search__form", @class = "main__search--form row" }))
{
    <div class="col l-8 m-12 c-12 main__search">
        <div class="row">
            <h1 class="main__search--title col l-12">
                Tìm việc phù hợp với bạn
            </h1>
            <div class="col l-7 m-4 c-6">
                <div class="search__item">
                    <input class="search__input" id="keyword" name="KeyWord" autocomplete="off" type="text" placeholder="Từ khóa công việc..." value="@Request["KeyWord"]">
                    <div class="search__autocom--box">

                    </div>
                </div>
            </div>
            <div class="search__item col l-3 m-2 c-3">
                <button class="search__submit button--link">
                    <span><i class="icon-search fas fa-search"></i></span>
                    Tìm kiếm ngay
                </button>
            </div>
            <div class="search__item col l-5 m-3 c-6">
                <span class="search__icon search__icon--rank">
                    <i class="far fa-id-badge"></i>
                </span>
                @Html.DropDownListFor(x => x.CapBac, new SelectList(listCapBac, "PK_sMaCapBac", "sTenCapBac"), "-- Chọn cấp bậc --", new { @class = "form-control text-box single-line selectpicker", @data_live_search = "true" })
            </div>
            <div class="search__item col l-5 m-3 c-6">
                <span class="search__icon search__icon--address">
                    <i class="fas fa-map-marker-alt"></i>
                </span>
                @Html.DropDownListFor(x => x.DiaChi, new SelectList(listDiaChi, "PK_sMaDiaChi", "sTenDiaChi"), "-- Chọn địa chỉ --", new { @class = "form-control text-box single-line selectpicker", @data_live_search = "true" })
            </div>
            <h5 class="col l-12">
                Các công ty tuyển dụng hàng đầu trên TopCV
            </h5>
            <div class="col l-12 img-style">             
                    <img class="img-banner" src="~/Assets/Client/img/Blogs/fpt.jpg" />
                    <img class="img-banner" src="~/Assets/Client/img/Blogs/onemoutn.jpg" />
                    <img class="img-banner" src="~/Assets/Client/img/Blogs/prudential.jpg" />
                    <img class="img-banner" src="~/Assets/Client/img/Blogs/teachcombank.jpg" />
                    <img class="img-banner" src="~/Assets/Client/img/Blogs/tiki.jpg" />
                    <img class="img-banner" src="~/Assets/Client/img/Blogs/viettel.jpg" />          
            </div>
        </div>
    </div>
    <div class="col l-4 m-0 c-0">
        <img class="img-banner-left"src="~/Assets/Client/img/Blogs/topcv.jpg" />
    </div>

}
