
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    <link href="~/Assets/Client/css/HoSo/about.css" rel="stylesheet" />
}
<div class="contain">
    <div class="person">
    <div class="container">
        <div class="container-inner">
            <img class="circle" src="https://images.unsplash.com/photo-1605246811037-7a815fa646e4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8YmFjayUyMGdyb3VuZHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" />
            <img class="img img1" src="~/Images/image-member/anhkhoa.png" />
        </div>
    </div>
    <div class="divider"></div>
    <div class="name">Nguyễn Anh Khoa</div>
    <div class="title">20DH112036</div>
</div>
<div class="person">
    <div class="container">
        <div class="container-inner">
            <img class="circle" src="https://images.unsplash.com/photo-1542684377-0b875fde9563?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8YmFjayUyMGdyb3VuZHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" />
            <img class="img img2" src="~/Images/image-member/trongnghia.png" />
        </div>
    </div>
    <div class="divider"></div>
    <div class="name">Mai Văn Trọng Nghĩa</div>
    <div class="title">20DH112095</div>
</div>
<div class="person">
    <div class="container">
        <div class="container-inner">
            <img class="circle" src="https://images.unsplash.com/photo-1587713714775-fa70364f6445?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8YmFjayUyMGdyb3VuZHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" />
            <img class="img img3" src="~/Images/image-member/tuan.png" />
        </div>
    </div>
    <div class="divider"></div>
    <div class="name">Trần Trọng Tuấn</div>
    <div class="title">20DH112176</div>
</div></div>
